.aboutme {
  gap: 5rem;
  margin: 100px auto;
}

.aboutme__container {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.aboutme__container-reversed {
  display: flex;
  flex-direction: row-reverse;
  gap: 5rem;
  align-items: center;
}

.aboutme__image img {
  min-width: 150px;
  max-width: 200px;
  border-radius: 10px;
}

.aboutme__description {
  min-width: 400px;
}
