.aboutme {
  width: 50rem;
}

.aboutme__container {
  display: flex;
  gap: 5rem;
  align-items: center;
  margin-bottom: 3rem;
}

.aboutme__container:nth-of-type(2) {
  display: flex;
  flex-direction: row-reverse;
  gap: 5rem;
  align-items: center;
  margin-bottom: 0;
}

.aboutme__image {
  width: 40rem;
  height: 100%;
}

.aboutme__image img {
  width: 100%;
  height: 100%;
  max-width: 12.5rem;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .aboutme {
    width: 40rem;
  }

  .aboutme__image {
    width: 30rem;
  }
}

@media (max-width: 768px) {
  .aboutme {
    width: 40rem;
  }

  .aboutme__container,
  .aboutme__container:nth-of-type(2) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  .aboutme__description {
    width: 30rem;
  }

  .aboutme__image {
    display: flex;
    justify-content: center;
    width: 20rem;
  }
}

@media (max-width: 546px) {
  .aboutme {
    width: 30rem;
  }

  .aboutme__description {
    width: 20rem;
    /* font-size: 0.8rem; */
  }
}

@media (max-width: 390px) {
  .aboutme {
    width: 20rem;
  }
}
