*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0b6a36;
  --secondary-color: #cccccc;
  --tertiary-color: #2f2c3d;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

html,
body {
  font-family: "Open sans", sans-serif;
  scroll-behavior: smooth;
  height: 1100px;
}
