.contact-form {
  margin: 5rem;
}

.contact__title {
  margin-bottom: 1rem;
}

.contact-form__intro {
  margin-bottom: 2rem;
}

.btn {
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
  background: none;
  border: 1px solid #333;
  cursor: pointer;
}

.btn:hover {
  background: #333;
  color: #fff;
}
