.contact-form {
  margin: 100px;
  height: 100%;
}

.contact__title {
  margin-bottom: 1rem;
}

.contact-form__intro {
  margin-bottom: 2rem;
}

.btn {
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
  background: none;
  border: 1px solid #333;
  cursor: pointer;
}

.btn:hover {
  background: #333;
  color: #fff;
}

.contact {
  border-color: #ccc;
  transition: all 0.3s ease-in-out;
}

.contact:focus {
  background: #e4e4e4;

  transform: scale(1.03);
}

.contact:invalid {
  border-color: red;
}

.contact:valid {
  border-color: green;
}
