.diensten__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin: 100px auto;
  font-family: "EB Garamond", serif;
  width: 100rem;
}

.diensten__card {
  width: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);

  padding: 1.2rem;
}

.diensten .titel {
  color: black;
  font-weight: bold;
}
.diensten__title {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
}

@media (max-width: 992px) {
  .diensten {
    padding: 2rem;
    background: red;
  }
}
