.diensten{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: "EB Garamond", serif;
    margin-top: -50px;


    
}
.diensten div{
    width: 50%;
    border: 1px solid black;
    margin: 20%;
    padding: 20px;
}

.diensten .titel {
    color: black;
    font-weight: bold;
}
h1{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-family: "EB Garamond", serif;
    padding-top: 50px;

}