footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  align-items: center;
  justify-items: center;

  background: #160f29;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.footer__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-items: center;

  gap: 5rem;
}

.footer,
.footer__list-link {
  color: #fff;
}

.footer__gegevens-title,
.footer__tijden-title {
  margin-bottom: 1rem;
}

.footer__gegevens {
  grid-area: 1 / 2 / 2 / 3;
}

.footer__tijden {
  grid-area: 1 / 3 / 2 / 4;
}

.footer__list-items {
  margin-bottom: 10px;
}

.footer__logo {
  width: 200px;
  height: 200px;
}

.footer__logo img {
  height: 100%;
  width: 100%;
  min-width: 12.5rem;
}

iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  footer {
    padding: 3rem;
  }

  iframe {
    width: 400px;
    height: 250px;
  }
}

@media (max-width: 992px) {
  footer {
    column-gap: 3rem;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__logo {
    align-self: start;
  }
}
