@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Navbar */
.navbar {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar.navbar--scroll {
  background-color: #fefdf4;
  backdrop-filter: blur(10px);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo img {
  width: 100px;
  height: 100px;
}

.navbar__menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

.navbar__menu-link:hover,
.navbar__mobile-menu-link:hover {
  color: var(--primary-color);
}

/* Mobile Menu */
.navbar__mobile-menu {
  display: none;
  cursor: pointer;
}

.navbar__mobile-menu-toggle {
  color: var(--primary-color);
}

.navbar__mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--secondary-color);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}

.navbar__mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

.navbar__mobile-menu-items {
  transform: translateX(100%);
}

.navbar__mobile-menu-items.active {
  transform: translateX(0);
}

@media (max-width: 768px) {
  /* Navbar */
  .navbar__menu {
    display: none;
  }
  .navbar__mobile-menu {
    display: block;
  }
}
