.projects {
  margin: 0 100px 100px;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
}
.projects .projects__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.image-2 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.image-4 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.image-5 {
  grid-row: 2 / 3;
  grid-column: -1/-3;
}

@media (max-width: 992px) {
  .projects__container {
    grid-template-columns: 1fr;
  }

  .image-2,
  .image-4,
  .image-5 {
    grid-column: auto;
    grid-row: auto;
  }
}

.projects__container > * {
  border: 1px solid red;
}
