@import url("base.css");

.mySlides {
  display: block;
  position: absolute;

  visibility: hidden;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;

  /* opacity: 0.7; */

  transform: scale(0);
  transition: transform 1s ease-in-out;
}

.mySlides.active {
  visibility: visible;
  transform: scale(1);
}

.slider::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.slider {
  position: relative;

  height: 100vh;
  width: 100%;
}

.slider__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: calc(2em * 13);
  color: white;
  text-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  z-index: 500;
}

@media (max-width: 768px) {
  .slider__title {
    font-size: 1rem;
  }
}

@media (max-width: 390px) {
  .slider__title {
    font-size: 0.7rem;
  }
}
