@import url(base.css);
@import url(slideshow.css);
@import url(navbar.css);
@import url(about-me.css);
@import url(reviews.css);
@import url(diensten.css);
@import url(projecten.css);
@import url(contact.css);
